@model YardimMasasi.Sunum.Models.GorevViewModels.GorevCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GorevCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="KonuId" class="control-label"></label>
                    <select id="drpKonuList" class="form-select" asp-for="KonuId" asp-items="@Model.Konular">
                        <option value="">--Seçim Yapınız--</option>
                    </select>
                    <span asp-validation-for="KonuId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AltKonuId" class="control-label"></label>
                    <select id="drpAltKonuList" class="form-select" asp-for="AltKonuId" asp-items="@Model.AltKonular">
                        <option value="">--Seçim Yapınız--</option>
                    </select>
                    <span asp-validation-for="AltKonuId" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SetModelGetirTrigger();
        });

        function SetModelGetirTrigger() {
            $("#drpKonuList").change(function () {
                $.get("/Gorev/AltKonuListesi", { KonuId: $("#drpKonuList").val() }, function (data) { AltKonuDoldur(data); })
            });
        }

        function AltKonuDoldur(data) {
            $("#drpAltKonuList").empty();
            $("#drpAltKonuList").append("<option>Seçim Yapınız...</option>")
            $.each(data, function (index, row) {
                $("#drpAltKonuList").append("<option value='" + row.value + "'>" + row.text + "</option>")
            });
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
